  <!-- navegação lateral esquerda  -->
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="toggleList()" aria-label="Show User List"
      md-is-locked-open="$mdMedia('gt-sm')">

    <!-- titulo do painel  -->
    <md-toolbar class="md-whiteframe-z1">
      <h3>Usuários</h3>
    </md-toolbar>

    <!-- lista de itens da navegação -->
    <md-list>
      <md-list-item ng-repeat="contato in lista">
          <md-button ng-click="selectUser(contato)" ng-class="{'selected' : contato === selected }">
            <md-icon md-svg-icon="{{contato.avatar}}" class="avatar"></md-icon>
            {{contato.name}}
          </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
