

<section data-ng-controller="LoginController as login" ng-cloak>
  <md-content layout-padding>
      <form name="form" ng-submit="login.submit()" ng-hide="login.loginData.bAutenticado">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nome</label>
            <input ng-model="login.loginData.usuario.nome" required>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Senha</label>
            <input ng-model="login.loginData.usuario.senha" type="password" required>
          </md-input-container>

        </div>

        <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Login</md-button>
      </form>


      <md-button class="md-raised" ng-click="login.logout()" ng-disabled="" ng-show="login.loginData.bAutenticado">Logout</md-button>
  </md-content>

</section>
